.skills-content li {
  list-style: url('../images/map-pin-solid.svg');
  margin: 1px 0;
}

.main-skills {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 25px 0;
}

.skills-board {
  background-color: peru;
  border: double 10px black;
  border-radius: 5%;
  box-shadow: 1px 0.5px 1px black;
  display: flex;
  height: fit-content;
  width: calc(15em + 30vw);
}

.skills-board-content {
  background-color: burlywood;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  font-size: calc(1em + 0.5vw);
  position: relative;
  width: 100%;
}

.skills-board-fixer {
  border: solid thick rgb(68, 34, 10);
  border-radius: 5%;
  height: 50%;
  left: 25%;
  position: absolute;
  top: -8%;
  transform: rotate(45deg);
  width: 50%;
  z-index: -1;
}

.skills-board-content h1 {
  margin: 3% 0 0;
  text-align: center;
}

.skills-content {
  display: grid;
  grid-template-rows: 1fr 10% 1fr;
  margin: 1% 0 0;
}

.skills-content h3 {
  margin: 15px 0 10px;
}

.hard-skills {
  display: flex;
  flex-direction: column;
}

.soft-skills {
  grid-row: 3;
}

@media (min-width: 700px) {
  .skills-board-content {
    font-size: calc(1em + 0.7vw);
  }

  .skills-content li {
    margin: 3px calc(5px + 0.5vw);
  }
}
