body {
  background-color: lightslategray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body #root {
  display: grid;
  grid-template-rows: calc(2em + 6vmin) 1fr calc(2em + 6vmin);
}

main {
  grid-row: 2;
  max-height: 95vh;
  padding: 15px 25px;
  width: max-content;
}

.home {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.home-div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.computer-div {
  position: relative;
}

.pc-icon {
  width: 100%;
}

.computer-photo {
  background-image: url('https://avatars.githubusercontent.com/u/85768828?v=4');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 2px 0.3px black;
  height: 37%;
  left: 31.5%;
  position: absolute;
  width: 37%;
  top: 12%;
}

.sociallinks-div {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: auto;
  top: 45%;
  width: 100%;
}

.sociallinks-div > :nth-child( 1 ) {
  animation: IconPopUp 3s infinite;
}

.sociallinks-div > :nth-child( 2 ) {
  animation: IconPopUp 7s infinite;
}

.sociallinks-div > :nth-child( 3 ) {
  animation: IconPopUp 5s infinite;
}

.social-icons {
  margin: 1em;
  width: 35px;
}

.keyboard-icon {
  margin: -10% auto;
  transform: scaleY(0.8);
  width: 75%;
}

.aside-board {
  display: none;
}

.board-fixer {
  border: solid thick rgb(68, 34, 10);
  border-radius: 5%;
  height: 50%;
  position: absolute;
  top: -8%;
  transform: rotate(45deg);
  width: 75%;
  z-index: -1;
}

.board-content div {
  cursor: pointer;
  padding: 0 0 8px 5px;
}

.pin-icon {
  color: rgba(0, 0, 0);
  margin: 0 10px 0 0;
  transform: rotate(-25deg);
  width: 15px;
}

.board-content div:hover .pin-icon {
  color: rgb(85, 25, 7);
}

.board-content div:hover {
  font-weight: 600;
}

.window-box {
  display: none;
}

.about-text {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  max-width: 70%;
  padding: 5px 10px;
}

@keyframes IconPopUp {
  85% { transform: none; }
  90% { transform: scale(1.1); }
}

@media (min-width: 700px) {
  .home {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 5em 1fr 1fr;
    min-width: 95%;
  }

  .home h1 {
    grid-column: 1;
    grid-row: 1;
  }

  .home-div {
    grid-column: 1/3;
    grid-row: 2;
    margin-left: 2em;
  }

  .sociallinks-div {
    top: 50%;
  }

  .aside-board {
    background-color: peru;
    border: double 10px black;
    border-radius: 5%;
    box-shadow: 1px 0.5px 3px black;
    display: flex;
    font-size: calc(1em + 1.5vmin);
    grid-column: 3/5;
    grid-row: 2/3;
    height: calc(7em + 3vh);
    margin: -1em calc(3em + 3vw);
    width: calc(7em + 3vh);
  }

  .board-content {
    background-color: burlywood;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 1.5em 1em;
    position: relative;
    width: 100%;
  }

  .window-box {
    grid-column: 5;
    grid-row: 1/3;
    margin: 10% 20% 0 0;
  }
}

@media (min-width: 1060px) {
  .window-box {
    display: flex;
  }
}
